body {
    /*width: 100%;*/
    height: 100vh;
    background-image: url("../img/snuggle.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#grid {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

#header-container {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
}
p {
    text-align: center;
    color: #FFFFFF;
}

#game-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    /*height: 75vh;*/
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

#game-top #game-bottom {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 100%;
    margin: auto;
    position: absolute;
}

.colors {
    width: 20vw;
    height: 20vw;
}
#aqua {
    background-color:  #00EEFF;
    border-top-left-radius: 50%;
    border-left: 1em solid black;
    border-top: 1em solid black;
}

#hotpink {
    background-color: #FF0076;
    border-bottom: 1em solid black;
    border-left: 1em solid black;
    border-bottom-left-radius: 50%;
}

#purple {
    background-color: #490065;
    border-top-right-radius: 50%;
    border-top: 1em solid black;
    border-right: 1em solid black;
}

#lightpink {
    background-color: #FFEDEE;
    border-bottom-right-radius: 50%;
    border-bottom: 1em solid black;
    border-right: 1em solid black;
}

#start {
    width: 15vw;
    height: 15vw;
    max-width: 100%;
    /*margin: auto;*/
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 20.5vh;
}

#btn {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: black;
    color: #FFFFFF;
    font-size: 3rem;
}

@media screen and (max-width: 540px){
    #start {
        top: 20.5vh;
    }
    #btn {
        font-size: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px){
    #start {
        top: 24vh;
    }
    #btn {
        font-size: .9rem;
        width: 15vw;
        height: 15vh;
    }
}

@media screen and (max-width: 275px){
    #start {
        top: 28vh;
    }
    #btn {
        font-size: .4rem;
        width: 10vw;
        height: 10vh;
    }
}

@media screen and (max-width: 193px){
    #start {
        top: 30vh;
    }
    #btn {
        font-size: .1rem;
        width: 5vw;
        height: 5vh;
    }
    span {
        display:none;
    }
}
